@import '@primer/primitives/dist/css/functional/size/size.css';
@import '@primer/primitives/dist/css/functional/typography/typography.css';
@import '@primer/primitives/dist/css/functional/themes/light.css';
@import '@primer/primitives/dist/css/functional/themes/dark.css';

body {
  margin: 0;
  background: var(--bgColor-default);
  color: var(--fgColor-default);
}
